.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;

  .navbar {
    width: 100%;
    padding: 0 0 0.5rem 0;

    .container {
      display: flex;
      justify-content: center;
      align-content: start;
      position: relative;
      background-color: var(--bg-secondary);

      .toggle {
        display: none;
      }
      ul.nav_links {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        li {
          position: relative;
          a,
          button {
            color: var(--dark-link);
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem;
            text-decoration: none;
          }
          button {
            background: none;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
