@font-face {
  font-family: "Poppins";
  src: url("./assets/font/poppins/Poppins.eot");
  src:
    url("./assets/font/poppins/Poppins.eot?#iefix") format("embedded-opentype"),
    url("./assets/font/poppins/Poppins.woff2") format("woff2"),
    url("./assets/font/poppins/Poppins.woff") format("woff"),
    url("./assets/font/poppins/Poppins.ttf") format("truetype"),
    url("./assets/font/poppins/Poppins.svg") format("svg");
}
@font-face {
  font-family: "inter";
  src: url("./assets/font/inter/Inter.eot");
  src:
    url("./assets/font/inter/Inter.eot?#iefix") format("embedded-opentype"),
    url("./assets/font/inter/Inter.woff2") format("woff2"),
    url("./assets/font/inter/Inter.woff") format("woff"),
    url("./assets/font/inter/Inter.ttf") format("truetype"),
    url("./assets/font/inter/Inter.svg") format("svg");
}
@font-face {
  font-family: "fira";
  src: url("./assets/font/fira/Fira.eot");
  src:
    url("./assets/font/fira/Fira.eot?#iefix") format("embedded-opentype"),
    url("./assets/font/fira/Fira.woff2") format("woff2"),
    url("./assets/font/fira/Fira.woff") format("woff"),
    url("./assets/font/fira/Fira.ttf") format("truetype"),
    url("./assets/font/fira/Fira.svg") format("svg");
}

body {
  --light-theme: #e0fbfc;
  /* fond clair pour theme clair/ text clair pour theme sombre*/
  --dark-theme: #042d3e;
  /* fond sombre pour theme sombre/ text sombre pour theme clair*/
  --light-link: #3d5a80;
  --dark-link: #98c1d9;
  --link-hover: #293241;
  --button-color: #ee6c4d;
  --button-hover: #c85a3a;
}

* {
  border-radius: 12px;
  font-family: inter;
}

h1,
h2,
h3 {
  font-family: fira;
}
