body {
  --light-theme: #e0fbfc;
  /* fond clair pour theme clair/ text clair pour theme sombre*/
  --dark-theme: #042d3e;
  /* fond sombre pour theme sombre/ text sombre pour theme clair*/
  --light-link: #3d5a80;
  --dark-link: #98c1d9;
  --link-hover: #293241;
  --button-color: #ee6c4d;
  --button-hover: #c85a3a;
}

* {
  border-radius: 12px;
}
